@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  margin-left: 10px;
}

.header {
  background-color: #1f2937;
  padding: 20px;
}

.navbar {
  background-color: #1f2937;
  height: 100%;
  padding: 20px;
  
}

.navbar a {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  padding: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  margin: 10px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
}

.column {
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 20px;
}

p {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
}

.box-1 {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 50px;
  margin: 50px;
}

.box-2 {
  background-color: #3882f6;
  font-size: 36px;
  font-weight: normal;
  color: #1f2937;
  padding: 10px;
  margin: 50px;
  border-radius: 3px;
}

.button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  text-align: center;
  margin: 20px;
}

.button-2 {
  background-color: #3882f6;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #fff;
  border-radius: 0.3em;
  width: 100px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #1f2937;
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
}
